/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
$letra-texto:"Roboto";

/* COLORES */

$negro: black;
$color-nav: #40373D;
$color-titulo: #73686F;
$color-3: #72A684;
$color-4: #6CA663;
$color-background:  #F2DEC4;
$enlaces-general-white: white;
$color-h2: #11b14e;


